body{
   height: 300px;
   margin: 0;
   font-family: Arial;
}
h1{
  color: #560B18;
}
h2{
  color: #560B18;
}
nav{
    height: 10px 0;
    text-align: center;
}
nav a:hover{
    text-decoration: underline;
    color: #db053b;
    text-shadow: 0px 0px 10px rgba(252, 251, 251, 0.733);
}
nav ul li{
   display:inline;
   margin:25px;
}
nav ul li a{
   color:#3B010B;
   font-weight:bold;
   text-decoration-line: none;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to top, #dac184, #f7f2e7);
}
footer{
    text-align: center;
    padding: 10px;
    color: #75162D;
}
a{
    color: #560B18;
    text-decoration-line: none;
}
.home-btn{
    background-color: #f7f2e7;
    color: #f3dead;
    padding: 12px 25px;
    border: none;
    margin: 30px;
    border-radius: 50px;
    font-size: 16px;
}
.home-btn:hover {
    background-color: hsl(0, 12%, 97%); 
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px #f7f2e7;
}
.home-btn:active {
    transform: translateY(0);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 340px;
  padding: 30px;
  color: rgb(188, 4, 4);
}
.text {
  max-width: 50%;
}
.text h3 {
  font-size: 24px;
  font-style: italic;
}
.text h1 {
  font-size: 80px;
  margin: 10px 0;
}
.text p {
  font-size: 20px;
  color: #bc1c44;
}
img {
  border-radius: 50%;
  border: 5px solid rgb(108, 3, 19);
   object-fit: cover;
   box-shadow: 0 15px 25px rgba(10, 10, 10, 0.863);
}
span{
    font-size: 60px;
    margin: 10px;
    font-weight: 700;
    padding-left: 450px;
}
.logo{
  text-align: center;
}


