body{
   height: 300px;
   margin: 0;
   font-family: Arial;
}
body.dark {
    background: #121212;
    color: #fff;
}

body.dark .page {
    background: #1e1e1e;
}

body.dark nav {
    background: #111;
}

body.dark nav ul li a {
    color: #fff;
}

body.dark .hero {
    color: #fff;
}

body.dark .text p {
    color: #ccc;
}

body.dark .home-btn {
    background: #333;
    color: #fff;
}

body.dark footer {
    color: #aaa;
}

body.dark a {
    color: #fff;
}
h1{
  color: #560B18;
}
h2{
  color: #560B18;
}
nav{
    height: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cooknav{
  font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
    color: #db053b;
    text-shadow: 0px 0px 10px rgba(252, 251, 251, 0.733);
}
nav ul li{
   display:inline;
   margin:25px;
}
nav ul li a{
   color:#3B010B;
   font-weight:bold;
   text-decoration-line: none;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   background: rgba(255,255,255,0.2);
}
footer{
    text-align: center;
    padding: 10px;
    color: #75162D;
}
a{
    color: #560B18;
    text-decoration-line: none;
}
.home-btn{
    background-color: #f7f2e7;
    color: #f3dead;
    padding: 12px 25px;
    border: none;
    margin: 30px;
    border-radius: 50px;
    font-size: 16px;
}
.home-btn:hover {
    background-color: hsl(0, 12%, 97%); 
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px #f7f2e7;
}
.home-btn:active {
    transform: translateY(0);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 340px;
  padding: 30px;
  color: rgb(188, 4, 4);
}
.text {
  max-width: 50%;
  margin: 70px;
}
.text h3 {
  font-size: 24px;
  font-style: italic;
}
.text h1 {
  font-size: 80px;
  margin: 10px 0;
}
.text p {
  font-size: 20px;
  color: #bc1c44;
}
.home-img img {
   border-radius: 50%;
   border: 5px solid rgb(108, 3, 19);
   object-fit: cover;
   box-shadow: 0 15px 25px rgba(10, 10, 10, 0.863);
}






/*ABOUT US*/

.story-img img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  display: block;
}
.our-story p {
  color: #6e3333;
  line-height: 1.8;
  margin-bottom: 10px;
}
.story-img {
  width: 45%;
  margin-left: 15px;
}
.our-story {
  width: 55%;
  margin: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 550;
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ooo{
  text-align: center;
}







/*salma*/
.contact{
    position: relative;
    box-shadow: 0 4 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(100,255,200,0.2);
    width: 45%;
    border-radius: 16px;
    padding: 30px 25px;
    display: flex;
    margin:5px  auto;
    flex-direction: column;
    background-color:#f7f2e7;
    box-sizing: border-box;
    gap:10px;
    margin-left:auto;
    margin-right:40px;

}
.login, .signup {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
}
.back {
    background-image: url("./images/bbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100%;
}

.contact input,.contact textarea{
    margin: 10px 0;
    padding: 12px 14px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #c8a97e;
    transition: 0.3s;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}
.contact input:focus,.contact textarea:focus{
    border-color: #7a1f1f;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,120,0,0.15);
}
.contact h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}
.contact button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background-color: #3B010B;
}
.contact button:hover{
    transform: translatey(-2px);
    background-color: rgba(122, 31, 31, 0.8);
    box-shadow: 0 4px 10px rgba(122, 31, 31, 0.3);
    text-shadow: 0px 0px 10px rgba(252, 251, 251, 0.733);
}
.cont{
   display:flex;
   justify-content:space-between;
   align-items:center;
   width:100%;
   margin: 20px auto;
   gap:40px;
}
.get{
   width:55%;
   margin-left: 80px;
}
.login{
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(100,255,200,0.2);
    width: 420px;
    border-radius: 16px;
    padding: 20px 20px;
    display: flex;
    margin:50px  auto;
    flex-direction: column;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.65);
    margin-left: auto;
    margin-right: 100px;
    top:-50px;

}
.login input{
    margin: 0;
    padding: 12px 14px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #c8a97e;
    transition: 0.3s;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}
.login h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
.login button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background-color:#3B010B;
    margin-top: 5px ;
}
.login button:hover{
    transform: translateY(-3px); 
    background-color: rgba(122, 31, 31, 0.8);
    box-shadow: 0 4px 10px rgba(122, 31, 31, 0.3);
}
.login input:focus{
    border-color: #7a1f1f;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,120,0,0.15);
}
.login p {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.login a{
    text-decoration: none;
    color: #560B18;
}
.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #c8a97e;
  border-radius: 8px;
  outline: none;
}

.input-box i {
  position: absolute;
  right: 15px; 
  top: 55%;
  transform: translateY(-50%);
  color: #5a2d0c;
  pointer-events: none;
}

.input-box input:focus {
  border-color: #7a1f1f;
}
.order{
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(100,255,200,0.2);
    width: 420px;
    border-radius: 16px;
    padding: 30px 25px;
    display: flex;
    margin:60px  auto;
    flex-direction: column;
    background-color:#f7f2e7;
    box-sizing: border-box;
}
.order input,.order textarea{
     margin: 10px 0;
    padding: 12px 14px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #c8a97e;
    transition: 0.3s;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}
.order h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    color: #7a1f1f;
}
.order button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background-color: #3B010B;
}
.order button:hover{
    transform: translatey(-2px);
    background-color: rgba(122, 31, 31, 0.8);
    box-shadow: 0 4px 10px rgba(122, 31, 31, 0.3);
}
.order input:focus,.order textarea:focus{
    border-color: #7a1f1f;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,120,0,0.15);
}
.signup{
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(100,255,200,0.2);
    width: 420px;
    border-radius: 16px;
    padding: 20px 20px;
    display: flex;
    margin:50px  auto;
    flex-direction: column;
    background-color: #f7f2e7;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.65);
    margin-left: auto;
    margin-right: 100px;
    top:-50px;

}
.signup input{
    margin: 0;
    padding: 12px 14px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #c8a97e;
    transition: 0.3s;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}
.signup h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
.signup button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background-color:#3B010B;
    margin-top: 5px ;
}
.signup button:hover{
    transform: translateY(-3px); 
    background-color: rgba(122, 31, 31, 0.8);
    box-shadow: 0 4px 10px rgba(122, 31, 31, 0.3);
}
.signup input:focus{
    border-color: #7a1f1f;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,120,0,0.15);
}
.signup p {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.signup a{
    text-decoration: none;
    color: #560B18;
}
.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #c8a97e;
  border-radius: 8px;
  outline: none;
}

.input-box i {
  position: absolute;
  right: 15px; 
  top: 55%;
  transform: translateY(-50%);
  color: #5a2d0c;
  pointer-events: none;
}

.input-box input:focus {
  border-color: #7a1f1f;
}


 .contact-form{
    margin-right:55px;
 }





